---
import Layout from "@/layouts/Layout.astro";
import * as m from "@/paraglide/messages";
import GuideActualContent from "@/components/guide/GuideActualContent.astro";

const pageTitle = m.guide_title() + " - " + m.site_title();
---

<Layout title={pageTitle}>
  <main>
    <GuideActualContent />
  </main>
</Layout>
