---
// src/components/resource/ResourceSearchAndFilter.astro
// src/components/resource/ResourceSearchAndFilter.astro
---

<section class="py-8">
  <!-- Search Box -->
  <div class="w-full flex justify-center mb-8 px-4">
    <label class="input flex items-center gap-2">
      <svg
        class="h-[1em] opacity-50"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <g
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-width="2.5"
          fill="none"
          stroke="currentColor"
        >
          <circle cx="11" cy="11" r="8"></circle>
          <path d="m21 21-4.3-4.3"></path>
        </g>
      </svg>
      <input type="search" required placeholder="Search" aria-label="Search" />
    </label>
  </div>

  <!-- Filter Buttons -->
  <div class="flex justify-center">
    <div class="btn-group">
      <button class="btn btn-primary">ทั้งหมด</button>
      <button class="btn">คู่มือ</button>
      <button class="btn">แบบฟอร์ม</button>
      <button class="btn">รายงาน</button>
    </div>
  </div>
</section>
