---
import Layout from "@/layouts/Layout.astro";
import { createTranslator } from "@/i18n/utils";
import HeroSection from "@/components/home/HeroSection.astro";
import FeaturedSection from "@/components/home/FeaturedSection.astro";
import HighlightSection from "@/components/home/HighlightSection.astro";
import ServicesSection from "@/components/home/ServicesSection.astro";
import PartnerLogos from "@/components/home/PartnerLogos.astro";
import ManualsSection from "@/components/home/ManualsSection.astro";
import ITKnowledgeSection from "@/components/home/ITKnowledgeSection.astro";
import NewsSection from "@/components/home/NewsSection.astro";
import FAQSection from "@/components/home/FAQSection.astro";

const t = createTranslator("th");
const pageTitle = t("site.title");
---

<Layout title={pageTitle}>
  <main>
    <HeroSection />
    <FeaturedSection />
    <HighlightSection />
    <ServicesSection />
    <PartnerLogos />
    <ManualsSection />
    <ITKnowledgeSection />
    <NewsSection />
    <FAQSection />
  </main>
</Layout>
