---
import HeroSlider from "./HeroSlider.astro";

const banners = [
  {
    src: "https://picsum.photos/seed/picsum1/1920/1080",
    alt: "Random image 1",
  },
  {
    src: "https://picsum.photos/seed/picsum2/1920/1080",
    alt: "Random image 2",
  },
  {
    src: "https://picsum.photos/seed/picsum3/1920/1080",
    alt: "Random image 3",
  },
  {
    src: "https://picsum.photos/seed/picsum4/1920/1080",
    alt: "Random image 4",
  },
];
---

<section class="w-full max-w-screen-2xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
  <HeroSlider banners={banners} />
</section>
