---
import IconifyIcon from "./IconifyIcon.vue"; // Import Vue component
---

<button
  id="back-to-top"
  class="btn btn-circle btn-secondary fixed bottom-4 right-4 shadow-lg opacity-0 invisible transition-all duration-300 z-50"
  aria-label="Back to top"
>
  <IconifyIcon icon="mingcute:up-fill" className="w-5 h-5" client:load />
</button>
